.row {
  padding: 0 15px;
}

.col {
  padding: 0 !important;
  flex: 0 0 60px;
}

.col:nth-child(2n - 1) {
  margin-right: 0.5rem;
}

.col:nth-child(2n) {
  margin-right: 2rem;
}

.seat {
  height: 60px;
}