.row {
  padding: 0 15px;
}

.col {
  padding: 0 !important;
  flex: 0 0 60px;
}

.col:nth-child(2n - 1) {
  margin-right: 0.5rem;
}

.col:nth-child(2n) {
  margin-right: 2rem;
}

.container {
  height: 25vh;
  margin-top: 2rem;
}

.screen {
  height: 60px;
}

.seat {
  position: absolute;
  border-color: #1e1e1e;

  position: absolute;
  border-color: #1e1e1e;

  position: absolute;
  border-color: #1e1e1e;

  position: absolute;
  border-color: #1e1e1e;

  position: absolute;
  border-color: #1e1e1e;

  position: absolute;
  border-color: #1e1e1e;

  position: absolute;
  border-color: #1e1e1e;

  position: absolute;
  border-color: #1e1e1e;
}

.seatVertical {
  width: 60px;
  height: 80px;
}

.seatHorizontal {
  width: 80px;
  height: 60px;
}

.seatVerticalDouble {
  width: 60px;
  height: 160px;
}

.seatHorizontalDouble {
  width: 160px;
  height: 60px;
}

.seatVertical435 {
  width: 48px;
  height: 80px;
}

.seatHorizontal435 {
  width: 64px;
  height: 60px;
}

.seatVerticalDouble435 {
  width: 48px;
  height: 160px;
}

.seatHorizontalDouble435 {
  width: 128px;
  height: 60px;
}

.help * {
  display: inline-block;
  margin-right: 0.5rem;
}

.prev, .next {
  transform: scale(5);
  position: absolute;
  top: 50%;
}

.prev {
  left: -80px;
}

.next {
  right: -80px;
}