/* bootstrap import */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* bootstrap에 대한 전반적인 수정 */
.input-group {
  margin-bottom: -1px;
}

.input-group > .input-group-prepend:nth-child(1) > .input-group-text {
  width: 105px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group-toggle>.btn, .btn-group-toggle>.btn-group>.btn {
  margin-bottom: 8px !important;
}

.form-control[readonly] {
  background-color: initial;
}