/* bootstrap에 대한 전반적인 수정 */
@import '~bootstrap/dist/css/bootstrap.min.css';

.input-group {
  margin-bottom: -1px;
}

.input-group > .input-group-prepend:nth-child(1) > .input-group-text {
  width: 105px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-group-toggle>.btn, .btn-group-toggle>.btn-group>.btn {
  margin-bottom: 8px !important;
}

/* admin.module.css로 들어가야 할 것들 */
caption {
  caption-side: top !important;
}

.table-function, .title {
  display: flex;
  justify-content: space-between;
}

.table-function > div {
  display: flex;
}

.table-function button {
  height: 38px;
}